# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.metadata
.idea/
.vscode/
*.iml
*.lock
*.log
build/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
android/.gradle/
android/app/build/